* {
  padding: 0px;
  margin: 0px;

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  font-size: 20px;
  font-weight: bold;
}

p {
  background-color: #efefef;
  width: fit-content;
  padding: 10px;

  position: relative;
  top: 20px;

  left: 50%;
  margin-left: -200px;

  margin-top: 20px;

  border-left: 5px solid #e91e63;
}

P::before {
  position: absolute;
  top: 50%;
  left: -100px;
  background-color: #efefef;
  margin-top: -20.5px;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  content: attr(data-person);

  width: 80px;
}

p::after {
  position: absolute;
  top: calc(50% - 10px);
  left: -24.5px;
  border-style: solid;
  border-width: 10px;
  border-color: transparent #e91e63 transparent transparent;
  height: 0;
  width: 0;
  content: "";
}

