

div {
  color: aliceblue;
  background-image: url(../../../../image-1.png);
  padding: 50px;
  margin: 20px;
  display: inline-block;
  width: 400px;
  height: 400px;
  background-color: rgb(223, 223, 223);
  font-size: 20px;

}

.assign-4-shape-1 {
  background-repeat: no-repeat;
}

.assign-4-shape-2 {
  background-repeat: repeat-y;
  background-position: right;
}

.assign-4-shape-3 {
  background-repeat: repeat-x;
  background-position: bottom;
}

.assign-4-shape-4 {
  background-repeat: repeat;
}


