* {
  padding: 0;
  margin: 0;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
div {
  display: inline-block;
}

body {
  width: 100%;
  height: 1040xp;

  position: relative;
}

.parent {
  width: 550px;
  height: 280px;


  position: absolute;
  left: calc(50% - 275px);
  top: 140px;

}

.child {
  background-color: #eee;
  height: 100%;
  width: 250px;

  position: relative;

  padding: 50px 25px 25px 20px;

  border-radius: 3px;
}

.center-line {

  width: 2px;
  height: 100%;
  margin: 0px 20px;


  background-color: #03a9f4;
  color: white;

  position: relative;
}
.center-line::before {
  content: "Or";
  background-color: #03a9f4;
  font-size: 20px;

  width: 30px;
  height: 30px;
  border-radius: 15px;
  text-align: center;
  padding: 2.5px;

  box-sizing: border-box;


  position: absolute;
  top: 50%;
  margin-top: -15px;
  left: 50%;
  margin-left: -15px;
  

}

.tex {
  float: left;

  background-color: #ddd;

  text-align: center;
  width: 200px;
  height: 200px;
  padding-top: 76.5px;

  font-size: 40px;


  border-radius: 100px;

}

.child::before {
  content: attr(content-text);

  width: 200px;
  height: 30px;
  padding-top: 5px;

  font-size: 20px;


  background-color: #03a9f4;
  color: white;
  border-radius: 10px;

  position: absolute;
  top: 10px;
  left: 50% -100px;

  text-align: center;


}