



* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

}















::first-letter {
  color: #F44336;
}

div {
  margin: 50px auto;
  width: 600px;
  height: 200px;
  text-align: center;
  font-size: 20px;
  line-height: 200px;

  background-color: #eee;

  position: relative;

}


div::before {
  width: 105%;
  height: 110%;

  content: "";

  position: absolute;
  top: -5%;
  left: -2.5%;
  z-index: -1;

  background: linear-gradient(to right,
  #F44336 0%,
  #F44336 20%,
  #2196F3 20%,
  #2196F3 40%,
  #4CAF50 40%,
  #4CAF50 60%,
  #E91E63 60%,
  #E91E63 80%,
  #673AB7 80%,
  #673AB7 100%);

}