* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: white;
  width: 100vw;
  height: 100vh;
}

.container {
  display: grid;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

section {
  background-color: #eee;
  border-radius: 4px;
  padding: 10px;
}

.container section h1,
.container section p {
  width: 100%;
  display: flex;
  justify-content: center;
}

section h1 {
  font-size: 18px;
}

section p {
  font-size: 12px;
}
/* min Screens */
@media (max-width: 160px) {
  section h1 {
    font-size: 16px;
    color: #cf2e2e;
  }
  
  section p {
    font-size: 12px;
  }
  
}


/* Small Screens */
@media (max-width: 510px) {
  .container {
    grid-template-columns: 1fr;
  }
}

/* Medium Screens */
@media (min-width: 511px) AND (max-width: 768px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }

  .sec1 {
    grid-column: 1 / 4;
  }
  section h1 {
    font-size: 20px;
    color: #cf2e2e;
  }
  
  section p {
    font-size: 14px;
  }
}

/* Large Screens */
@media (min-width: 769px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
  .sec1 {
    grid-column: span 2;
  }
  .sec4 {
    grid-column: span 2;
  }
  
  
  
  section h1 {
    font-size: 22px;
    color: #0693e3;
  }
  
  section p {
    font-size: 16px;
  }
  
}