
body {
  
  
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  width: 150px;
  
  background-color: #009688;
  
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  font-size: 40px;
  color: white;
  
  
  position: relative;

}

h1::before {
  width: 50%;
  height: 100%;
  background-color: #009688;
  transform: skew(25deg);
  
  z-index: -1;
  
  content: "";
  
  position: absolute;
  left: -20px;
  top: 0;
}

h1::after {
  width: 5%;
  height: 100%;
  background-color: #009688;
  transform: skew(25deg);
  
  z-index: -1;
  
  content: "";
  
  position: absolute;
  left: -30px;
  top: 0;
}


