.parent {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;

  width: 1000px;
  padding: 0;
  background-color: rgb(223, 223, 223);
  text-align: center;

  border-radius: 5px;
}

.full {
  width: calc(100% - (15px * 2));
  text-transform: capitalize;
  margin-right: 15px;
}

.size1-4,
.size1-3,
.size1-2,
.full {
  float: left;
  margin-top: 15px;
  background-color: rgb(211, 211, 211);
  padding: 20px 0;


  margin-left: 15px;
  border-radius: 10px;
}

.clear {
  clear: both;
}

.size1-4 {
  width: calc((100% - (15px * 5))/ 4);
  margin-bottom: 15px;
}
.size1-3 {
  width: calc((100% - (15px * 4))/ 3);
}
.size1-2 {
  width: calc((100% - (15px * 3))/ 2);
}