html {
  font-size: 20px;
}


body {
  margin: 0px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
}

.p1 {
  font-size: 2.5rem;

}

.p2 {
  font-size: 2rem;
}

.p3 {
  font-size: 1.5rem;
}



/* 
.p1 {
  text-transform: capitalize;
  font-weight: 300;
  font-family: 'Cairo', sans-serif;
  font-style: italic;

}
.p2 {
  text-transform: capitalize;
  font-weight: 700;
  font-family: 'Cairo', sans-serif;

  font-style: normal;

}
.p3 {
  text-transform: capitalize;
  font-weight: 400;
  font-family: 'Jomhuria', cursive;

} */















/* body {
  font-family: Arial, Helvetica, sans-serif;
}


div {
  border: 3px rgb(167, 114, 0) solid;
  padding: 20px;
  margin: 20px;
  text-align: center;

}

p {
  border: inherit;
  padding: inherit;
  margin: inherit;

  background-color: rgb(209, 209, 209);

} */