
body ul {
  list-style-type: none;
  width: 400px;
  position: relative;
  /* margin: auto; */
  left: calc((100% - 400px)/2);


}
.html, .css, .js {
  background-color: #eee;
  padding: 10px;
  margin: 10px;
}



.html-ol li, 
.css-ol li,
.js-ul li {
  background-color: #fff;
  list-style-position: outside;
  margin: 10px;
  padding: 5px;
}

.js-ul li  {
  list-style-position: inside;
}


body {
  font-family: Arial, Helvetica, sans-serif;
}

.css ol, html ol {
  padding-left: 30px;
}
.css ol {
  list-style-type: upper-roman;
}

.js-ul {
  list-style-type: circle;
  padding-left: 10px;
}
