* {
  padding: 0;
  margin: 0;

}


.layout {
  width: 100vw;
  height: 100vh;


  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, 1fr);
  background-color: rebeccapurple;
}

.layout header {
  
  display: flex;
  align-items: center;
  padding-left: 20px;

  grid-area: span 1 / span 4;

  background-color: #1e88e5;
}
.layout header::before {
  content: "Header";
}

.layout section {
  grid-area: span 6 / span 3;
  background-color: #f44336;
  padding: 20px 0px 0px 20px;
}

.layout section::before {
  content: "Section";
}

.layout aside {
  grid-area: span 6 / span 1;
  background-color:#546e7a;
  padding: 20px 0px 0px 20px;
}

.layout aside::before {
  content: "Sidebar";
}

.layout footer {
  grid-area: span 1 / span 4;
  background-color: #00796b;
  padding-left: 20px;
  display: flex;
  align-items: center;

}

.layout footer::before {
  content: "Footer";
}

.layout {
  font-size: 20px;
  color: white;
  font-weight: bold;
}