main section {
  font-size: var(--mainFontSize);
  padding: 10px;
  width: 80%;
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;

  background-color: var(--sectionsBGColor);

  border-radius: var(--mainBorder);
}

section article {
  padding: var(--mainPadding);
  border-radius: var(--mainBorder);

  width: 31%;
  height: 48%;

  transition-duration: .5s;
  transition-delay: .2s;
  transition-property: width, height;

  

  background-color: var(--mainBGColor);

  display: flex;
  flex-wrap: wrap;

  align-content: space-between;

}

section article:hover {
  width: 35%;
  height: 50%;

}
.article6,
.article5,
.article4 {
  align-self: flex-end;
}

section article img {
  width: 100%;
  height: 60%;

  border-radius: var(--mainBorder);


}

section article .section2in {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;

  height: 35%;


}

/* section article .section2in h1 {
  

} */
section article .section2in h1 a {
  font-size: 14px;
  text-decoration: none;
}
section article .section2in .date {

  font-size: 12px;
  font-weight: bold;
  



}
section article .section2in .details {
  padding-top: 5px;
font-size: 12px;
line-height: 1;
white-space: 10px;

width: 90%;

overflow: hidden;
text-overflow: ellipsis;
}

