

*{
  margin: 0;
  box-sizing: border-box;
}

body {  
  width: 100vw;
  height: 100vh;
}

div {
  top: 50%;
  left: 50%;
  transform: translate(-100px, -100px);
  
  width: 200px;
  height: 200px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  border-radius: 50%;
  border: solid 1px #ddd;

  color: #000;
  background-color: #eeeeee;
  font-size: 30px;
  font-weight: bold;
  
  position: relative;
}

div::before {
  width: 100%;
  height: 100%;
  
  content: "";
  
  border-radius: 50%;
  border: 10px #e91e63 solid;
  border-left-color: transparent;
  
  position: absolute;
}

div:after {
  width: 110%;
  height: 110%;
  
  content: "";
  
  border-radius: 50%;
  border: 10px #2196f3 solid;
  border-right-color: transparent;
  
  position: absolute;
  
}

